<nav style="box-shadow: 3px 3px 3px 3px #02020230;" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-md">
    <a style="cursor:pointer;" onclick="onhome()" style="color: #6ca2d7;font-weight: bold;" class="navbar-brand" >Главная</a>
    <li class="d-none d-lg-block">
      <a style="cursor:pointer;" onclick="predImage()"> Предыдущая загрузка</a>
    </li>
    <div class="btn-group dropstart">
      <div type="button" class=" dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-user"></i>
      </div>
      <ul class="dropdown-menu" style="padding:1rem">
        <li class="d-block d-lg-none mb-2">
          <a style="cursor:pointer;" onclick="predImage()"> Предыдущая загрузка</a>
        </li>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <button class="btn exit-google" onclick="signOut()"><i class="fas fa-sign-out-alt"></i> выйти</button>
      </ul>
    </div>
  </div>
</nav>