<nav style="box-shadow: 3px 3px 3px 3px #02020230;" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-md">
      <a class="navbar-brand" href="#">Главная</a>
      <div class="btn-group dropstart">
        <div type="button" class=" dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user"></i>
        </div>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Вход</a></li>
            <li><a class="dropdown-item" href="#">Регистрация</a></li>
        </ul>
      </div>
    </div>
  </nav>